# Machine Learning Homework

## 차주영

In [115]:
# import modules
import pandas as pd
import numpy as np

In [128]:
# getting data
df = pd.read_csv('data/audit_risk.csv')
df.head()

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,3.89,23,4.18,0.6,2.508,2.50,0.2,0.500,6.68,5.0,...,0.4,0,0.2,0.0,2.4,8.574,0.4,0.5,1.7148,1
1,3.89,6,0.00,0.2,0.000,4.83,0.2,0.966,4.83,5.0,...,0.4,0,0.2,0.0,2.0,2.554,0.4,0.5,0.5108,0
2,3.89,6,0.51,0.2,0.102,0.23,0.2,0.046,0.74,5.0,...,0.4,0,0.2,0.0,2.0,1.548,0.4,0.5,0.3096,0
3,3.89,6,0.00,0.2,0.000,10.80,0.6,6.480,10.80,6.0,...,0.4,0,0.2,0.0,4.4,17.530,0.4,0.5,3.5060,1
4,3.89,6,0.00,0.2,0.000,0.08,0.2,0.016,0.08,5.0,...,0.4,0,0.2,0.0,2.0,1.416,0.4,0.5,0.2832,0

In [129]:
# check the columns' names in the dataset
df.columns

Index(['Sector_score', 'LOCATION_ID', 'PARA_A', 'Score_A', 'Risk_A', 'PARA_B',
       'Score_B', 'Risk_B', 'TOTAL', 'numbers', 'Score_B.1', 'Risk_C',
       'Money_Value', 'Score_MV', 'Risk_D', 'District_Loss', 'PROB', 'RiSk_E',
       'History', 'Prob', 'Risk_F', 'Score', 'Inherent_Risk', 'CONTROL_RISK',
       'Detection_Risk', 'Audit_Risk', 'Risk'],
      dtype='object')

In [130]:
# check the output variable's outcomes and see the data's descriptive statistics
print('Risk', np.unique(df['Risk']))
df.describe()

Risk [0 1]

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
count,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,...,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.0,776.000000,776.000000
mean,20.184536,2.450194,0.351289,1.351029,10.799988,0.313144,6.334008,13.218481,5.067655,0.223711,...,0.519072,0.104381,0.216753,0.053608,2.702577,17.680612,0.572680,0.5,7.168158,0.393041
std,24.319017,5.678870,0.174055,3.440447,50.083624,0.169804,30.072845,51.312829,0.264449,0.080352,...,0.290312,0.531031,0.067987,0.305835,0.858923,54.740244,0.444581,0.0,38.667494,0.488741
min,1.850000,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.400000,0.400000,0.5,0.280000,0.000000
25%,2.370000,0.210000,0.200000,0.042000,0.000000,0.200000,0.000000,0.537500,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.583500,0.400000,0.5,0.316700,0.000000
50%,3.890000,0.875000,0.200000,0.175000,0.405000,0.200000,0.081000,1.370000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.400000,2.214000,0.400000,0.5,0.555600,0.000000
75%,55.570000,2.480000,0.600000,1.488000,4.160000,0.400000,1.840500,7.707500,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,3.250000,10.663500,0.400000,0.5,3.249900,1.000000
max,59.850000,85.000000,0.600000,51.000000,1264.630000,0.600000,758.778000,1268.910000,9.000000,0.600000,...,2.400000,9.000000,0.600000,5.400000,5.200000,801.262000,5.800000,0.5,961.514400,1.000000

In [ ]:
# we know that 이미 outcome variable들이 0,1 이므로 mapping이 필요 없다.

In [119]:
# since we have non-numeric variables in the column LOCATION_ID, we define function signalling the elements' type
def is_number(s):
    try:
        int(s)
        return True
    except ValueError:
        return False

In [131]:
# and capture what string values the column has
strs = [loc for loc in locations if is_number(loc)==False]
strs

['LOHARU', 'NUH', 'SAFIDON']

In [90]:
# gen mask capturing the string values
df['LOCATION_ID'].isin(strs) == True

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
746    False
747    False
748    False
749    False
750    False
751    False
752    False
753    False
754    False
755    False
756    False
757    False
758    False
759    False
760    False
761    False
762    False
763    False
764    False
765    False
766    False
767    False
768    False
769    False
770    False
771    False
772    False
773    False
774    False
775    False
Name: LOCATION_ID, Length: 775, dtype: bool

In [132]:
# capture indices of string variables
indexnames = df[df['LOCATION_ID'].isin(strs) == True].index
indexnames

Int64Index([351, 355, 367], dtype='int64')

In [133]:
# and drop those observations
df.drop(indexnames, inplace = True)
# we've deleted 3 observations with string values

In [135]:
df.describe()

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
count,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,...,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.0,773.000000,773.000000
mean,20.255149,2.457983,0.351876,1.355928,10.841903,0.313583,6.358590,13.268062,5.067917,0.223803,...,0.519534,0.104787,0.216818,0.053816,2.705304,17.743158,0.573351,0.5,7.194763,0.394567
std,24.339709,5.688509,0.174137,3.446223,50.176308,0.169987,30.128623,51.406241,0.264928,0.080494,...,0.290780,0.532022,0.068111,0.306411,0.859470,54.837264,0.445314,0.0,38.740186,0.489074
min,1.850000,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.400000,0.400000,0.5,0.280000,0.000000
25%,2.370000,0.210000,0.200000,0.042000,0.000000,0.200000,0.000000,0.540000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.584000,0.400000,0.5,0.316800,0.000000
50%,3.890000,0.880000,0.200000,0.176000,0.410000,0.200000,0.082000,1.390000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.400000,2.218000,0.400000,0.5,0.577600,0.000000
75%,55.570000,2.480000,0.600000,1.488000,4.160000,0.400000,1.980000,7.760000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,3.400000,10.782000,0.400000,0.5,3.258000,1.000000
max,59.850000,85.000000,0.600000,51.000000,1264.630000,0.600000,758.778000,1268.910000,9.000000,0.600000,...,2.400000,9.000000,0.600000,5.400000,5.200000,801.262000,5.800000,0.5,961.514400,1.000000

In [136]:
# check if there are other string variables in the data
strs1 = [loc for loc in df if is_number(loc)==False]
len(strs1)

27

In [137]:
# the strs1 elements are the names of columns: i.e. no string observations
len(df.columns)

27

In [157]:
df.isnull().any()

Sector_score      False
LOCATION_ID       False
PARA_A            False
Score_A           False
Risk_A            False
PARA_B            False
Score_B           False
Risk_B            False
TOTAL             False
numbers           False
Score_B.1         False
Risk_C            False
Money_Value        True
Score_MV          False
Risk_D            False
District_Loss     False
PROB              False
RiSk_E            False
History           False
Prob              False
Risk_F            False
Score             False
Inherent_Risk     False
CONTROL_RISK      False
Detection_Risk    False
Audit_Risk        False
Risk              False
dtype: bool

In [160]:
nans = df[df['Money_Value'].isnull() == True].index
print(nans)
df.drop(nans, inplace = True)

Int64Index([], dtype='int64')

In [159]:
df.describe()

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
count,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,...,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.0,772.000000,772.000000
mean,20.209404,2.460869,0.352073,1.357625,10.855947,0.313731,6.366827,13.284950,5.068005,0.223834,...,0.519689,0.104922,0.216839,0.053886,2.706218,17.764268,0.573575,0.5,7.203708,0.395078
std,24.322215,5.691631,0.174163,3.448134,50.207317,0.170048,30.147284,51.437422,0.265089,0.080542,...,0.290937,0.532353,0.068152,0.306603,0.859652,54.869671,0.445559,0.0,38.764503,0.489184
min,1.850000,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.400000,0.400000,0.5,0.280000,0.000000
25%,2.370000,0.207500,0.200000,0.041500,0.000000,0.200000,0.000000,0.555000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.584000,0.400000,0.5,0.316800,0.000000
50%,3.890000,0.880000,0.200000,0.176000,0.415000,0.200000,0.083000,1.395000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.400000,2.220000,0.400000,0.5,0.579600,0.000000
75%,55.570000,2.482500,0.600000,1.489500,4.170000,0.400000,1.995000,7.767500,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,3.400000,10.782000,0.400000,0.5,3.262500,1.000000
max,59.850000,85.000000,0.600000,51.000000,1264.630000,0.600000,758.778000,1268.910000,9.000000,0.600000,...,2.400000,9.000000,0.600000,5.400000,5.200000,801.262000,5.800000,0.5,961.514400,1.000000

## train_test_split

In [161]:
from sklearn.model_selection import train_test_split

np.random.seed(5*11+7)
X, y = df.iloc[:, :26].values, df.iloc[:, 26].values

X_train, X_test, y_train, y_test =\
    train_test_split(X, y, 
                     test_size=0.2, 
                     random_state=0, 
                     stratify=y)

In [162]:
pd.DataFrame(X).head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3.89,23,4.18,0.6,2.508,2.5,0.2,0.5,6.68,5,...,0.2,0.4,0,0.2,0,2.4,8.574,0.4,0.5,1.7148
1,3.89,6,0,0.2,0,4.83,0.2,0.966,4.83,5,...,0.2,0.4,0,0.2,0,2,2.554,0.4,0.5,0.5108
2,3.89,6,0.51,0.2,0.102,0.23,0.2,0.046,0.74,5,...,0.2,0.4,0,0.2,0,2,1.548,0.4,0.5,0.3096
3,3.89,6,0,0.2,0,10.8,0.6,6.48,10.8,6,...,0.2,0.4,0,0.2,0,4.4,17.53,0.4,0.5,3.506
4,3.89,6,0,0.2,0,0.08,0.2,0.016,0.08,5,...,0.2,0.4,0,0.2,0,2,1.416,0.4,0.5,0.2832

In [163]:
df.shape

(772, 27)

In [165]:
X.shape, y.shape

((772, 26), (772,))

In [166]:
X_train.shape, X_test.shape

((617, 26), (155, 26))

In [167]:
y.mean()

0.3950777202072539

# Bringing features onto the same scale

In [164]:
from sklearn.preprocessing import MinMaxScaler
# 변환 후 최솟값 최댓값??
mms = MinMaxScaler()
X_train_norm = mms.fit_transform(X_train)
X_test_norm = mms.transform(X_test)
X_train_norm

C:\Users\renz\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[3.40689655e-01, 3.25581395e-01, 1.15294118e-02, ...,
        0.00000000e+00, 0.00000000e+00, 5.88103708e-04],
       [3.51724138e-02, 1.16279070e-01, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 1.44319928e-05],
       [2.68965517e-02, 2.32558140e-01, 7.42352941e-02, ...,
        0.00000000e+00, 0.00000000e+00, 2.25193208e-02],
       ...,
       [0.00000000e+00, 1.62790698e-01, 3.83529412e-02, ...,
        0.00000000e+00, 0.00000000e+00, 1.83286309e-03],
       [9.26206897e-01, 2.32558140e-02, 7.62352941e-02, ...,
        3.70370370e-01, 0.00000000e+00, 1.00000000e+00],
       [8.44827586e-03, 2.32558140e-02, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [168]:
X_train_norm.min(), X_train_norm.max()

(0.0, 1.0)

In [169]:
from sklearn.preprocessing import StandardScaler

stdsc = StandardScaler()
X_train_std = stdsc.fit_transform(X_train)
X_test_std = stdsc.transform(X_test)
X_train_std

C:\Users\renz\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[ 5.98952738e-02, -1.60449886e-03, -2.50711348e-01, ...,
        -3.82577344e-01,  0.00000000e+00, -3.11550718e-01],
       [-6.72704996e-01, -8.92582717e-01, -4.10305221e-01, ...,
        -3.82577344e-01,  0.00000000e+00, -3.18129940e-01],
       [-6.92549699e-01, -3.97594818e-01,  6.17283900e-01, ...,
        -3.82577344e-01,  0.00000000e+00, -6.00299740e-02],
       ...,
       [-7.57044982e-01, -6.94587558e-01,  1.20588683e-01, ...,
        -3.82577344e-01,  0.00000000e+00, -2.97275049e-01],
       [ 1.46390798e+00, -1.28857304e+00,  6.44968551e-01, ...,
         3.87825698e+00,  0.00000000e+00,  1.11503222e+01],
       [-7.36786848e-01, -1.28857304e+00, -4.10305221e-01, ...,
        -3.82577344e-01,  0.00000000e+00, -3.18295455e-01]])

<br>

In [172]:
X_train_std.mean(), X_train_std.std()

(-2.2717701606492666e-15, 0.9805806756909199)